/* =====================================

Table of contents

1. home
2. About
3. News
========================================*/
 /*General*/

 .detalle{
 	font-size:140%;
 }
	.detalle p{
		margin: 1em 0;
		line-height: 1.4;
	 }

	.detalle ul li{
		margin: 1.5em 0;
		list-style: initial;
		line-height:1.4;
	}

 	.detalle ul li strong{
		color: #94b43b;
	 }

	 .detalle .content{
	 	padding-top:1.5em;
	 }

	 	.detalle .content img{
	 		max-width:100%;
	 		height:auto;
	 	}

/*Detalles de archivo*/
.detalle ul li a{
	color:#fff;
	display:block;
	width:50%;
	padding:.5em 1.5em;
	text-transform:uppercase;
	transition:.3s all ease;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
	background: #bfd255; /* Old browsers */
	background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}
.detalle ul li a:hover{
	background-color: #94b444;
	color:#fff;
	transition:.5s all ease;
}

#menu-menu-principal > li > a{
	padding: 6px 8px;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .025em;
    margin: 0;
    color: #fff;
}

#menu-menu-principal > li > a:active,
#menu-menu-principal > li > a:focus,
#menu-menu-principal > li > a:hover{
	color:#94b43b;
}

#menu-menu-principal > li a span{
	color:#94b43b;
}

#menu-menu-principal > li > ul{
	z-index: 99;
}


/*-----------------------------------
1. Home
-------------------------------------*/

.home-slider{
	height: 100%;
	position: relative;
}

	.home-slider ul.slides-home{
		padding: 0;
		min-height: 700px;
		margin:0;
	}

		ul.slides-home li{
			height: 100%;
			position: relative;
			background-size:cover;
			background-attachment:fixed;
			position: relative;
		}

		.home-slider .bx-wrapper{
			margin:0 auto;
			height: 100% !important;
		}

			.home-slider .bx-wrapper .bx-viewport {
			    box-shadow: none;
			    border: none;
			    left: auto;
			    background:transparent;
			    height: 100% !important;
			}

		/*Caption*/
		ul.slides-home li .caption{
			background: rgba(255,255,255,.7);
			position: absolute;
			bottom: 20%;
			left:3%;
			width: 60%;
			padding: 1em;
		}

.video-container{
	background: rgba(255,255,255,.7);
	position:absolute;
	z-index:2;
	bottom: 20%;
	right:5%;
	width:30%;
}
	.video-container h2{
		color:#fff;
		background:#5B5B5B;
		padding:.5em;
		width:100%;
	}

	.video-container video{
		width:90%;
		margin:1em auto;
		display: block;
	}
/*-----------------------------------
2. About
-------------------------------------*/
.page-id-18 h2{
	margin:1em 0;
}

.page-id-18 h3{
	margin: 2em 0 .5em;
	color: #94b43b;
}

/*-----------------------------------
3. News
-------------------------------------*/

.news-list{
	position: relative;
}

	.news-list header{
		text-align: center;
		max-width: 800px;
		margin: 2em auto;
		border-bottom: 1px solid #ccc;
	}

	.news-list article{
		overflow: hidden;
		max-width: 800px;
		margin: 1em auto;
		padding: 1.5em 0;
		border-bottom: 1px solid #ccc;
	}

	.news-list article figure{
		float: left;
		margin: 0 1em 0 0;
		padding: .5em;
		background-color: #fff;
	}

	.news-list article h4{
		color: #666;
		font-style: italic;
	}

	.news-list article a.btn{
		background-color: #94b43b;
		color:#fff;
		padding: .6em;
		margin-top: 2em;
		width: 106px;
		text-transform: uppercase;
	}

	.news-list article a.btn:hover{
		background-color: #94bbbb;
	}

	.news-list article p{
		line-height: 1.5;
	}

.detalle .top-new{
	max-width:800px;
	background-color: #ececec;
	overflow:hidden;
	padding:1em 0 1em 1em;
}
.detalle .top-new >div{
	width:48%;
	display:inline-block;
	vertical-align:middle;
}

.detalle .top-new >div img{
	width:100%;
	height: auto;
}

/*text*/

.text-header h4{
	text-transform:capitalize;
	text-style:italic;
}

/*Body New*/

.detalle .body-new{
	max-width:800px;
}

/*-----------------------------------
4. Mobile Styles
-------------------------------------*/

@media(max-width:768px){

	#unalTop .navigation{
		top:54px;
		z-index: 99;
	}

	#menu-menu-principal > li > ul{
		position: relative;
		width: 100%;
	}

	#menu-menu-principal > li > ul > li{
		padding: 1em;
		font-size: 120%;
		text-transform: uppercase;
	}

	#menu-menu-principal{
		margin:0;
	}

	.video-container{
		bottom:auto;
		top: 10%;
		left:50%;
		margin-left:-150px;
		width:300px;
	}

	.news-list article figure{
		float: none;
		margin: 1em auto;
		padding: .5em;
		background-color: #fff;
		width: 100%;
	}

		.news-list article figure img{
			width: 100%;
			height: auto;
		}

	.video-container video{
		width:96%;
	}

	/*Noticias*/
	.text-header h1{
		font-size:1em;
	}
}